@font-face
{
    font-family: 'Lemon';
    src: url('../fonts/LemonMilk.otf') format('truetype');
}

@font-face
{
    font-family: 'Jura';
    src: url('../fonts/Jura-Regular.ttf') format('truetype');
}

body
{
  font-family: 'Jura', arial;
}

#main
{
  display: flex;
  flex-direction: column;
}

#top
{
  display: flex;
  flex-direction: row;
  background-color: #3b84ad;
  height: 170px;
}

#top img
{
  height: 140px;
}

#top #search
{
  margin: auto;
}

#top #searchInput
{
  height: 40px;
  width: 400px;
  background-color: white;
  border: 0;
  font-family: 'Jura', arial;
  font-size: 17px;
  padding: 5px;
}

#top #searchBtn
{
  height: 40px;
  width: 150px;
  border: 0;
  background-color: #8DC1DD;
  color: white;
  font-family: 'Jura', arial;
  font-weight: bold;
  font-size: 17px;
}

.navbar
{
  margin-bottom: 0px;
  font-family: 'Jura', arial;
  font-weight: bold;
  font-size: 15px;
  border: 0px;
}

.navbar li a.active
{
  background-color: #ce554a;
  color: white;
}

.navbar li a:hover
{
  background-color: #ce554a;
  color: white;
}

#content
{
  background-color: #ce554a;
  padding: 20px;
}

#main-event
{
  width: 70%;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
}

h1
{
  text-align: center;
  margin: 30px;
}

.row
{
  margin: 0;
  margin-top: 20px;
  width: 100%;
}

.col-sm-4
{
  margin: auto;
  width: 33.3%;
  text-align: center;
}

.col-sm-4 h3
{
  background-color: white;
  margin-bottom: 0;
  padding: 0;
}

.col-sm-4 p
{
  border: 2px solid white;
  padding: 0px;
  background-color: #464646;
}

.col-sm-4 p img
{
  width: 100%;
  height: 400px;
  opacity: 0.7;
}

.col-sm-4 p img:hover
{
  opacity: 1;
}

footer
{
  background-color: #2d3134;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
